body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 50px;
    text-align: center;
}

.container {
    background: white;
    padding: 30px;
    max-width: 400px;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 14px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #528FF0;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}